:root {
  --clr-text: #fff;
  --clr-top-bg: #222831;
  --clr-bg: #171717;
  --clr-links: #7D6CF9;
  --clr-yellow:#DA0037 ;
  --clr-btn: #EDEDED;
  --font-800: 800;
  --font-700: 700;
  --font-600: 600;
  --font-400: 400;
  --font-300: 300;
}

/* bg:#222831 
links: #eeeeee*/
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  background: var(--clr-bg);
  color: var(--clr-text);
}

/* Reused styles */
.container {
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.fw-800 {
  font-weight: 800;
}

.flex-inline {
  display: flex;
  justify-content: space-between;
}
.flex-inline .button {
  height: 24px;
  width: 24px;
  background: white;
}
.flex-inline .logo {
  height: 50px;
}

.flex-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blue-txt {
  color: var(--clr-links);
}

.menu-btn {
  background: none;
  border: none;
  border-radius: 4px;
}

.top-nav {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 100;
}

ul.desk-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-top-bg);
  min-width: 300px;
  padding: 3rem 0.2rem;
  left: 10%;
  border-radius: 2rem;
  position: absolute;
  display: none;
}
ul.desk-nav li a {
  text-decoration: none;
  color: var(--clr-text);
}
ul.desk-nav li a:hover {
  text-decoration: none;
  color: var(--clr-links);
}
ul.desk-nav li a:active {
  text-decoration: none;
  color: var(--clr-links);
}

.nav-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  font-weight: var(--font-700);
  font-size: 1.2rem;
}

dialog {
  border-radius: 1rem;
  margin: auto;
  border: none;
  min-height: 150px;
  min-width: 250px;
  padding: 1rem;
  background: var(--clr-btn);
  position: relative;
}
dialog .nav-items {
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
dialog .nav-items a {
  text-decoration: none;
  color: var(--clr-bg);
}
dialog .nav-items button {
  border: none;
}

.btn {
  background-color: var(--clr-links);
  min-height: 4rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border: none;
  border-radius: 1rem;
  margin-top: 3rem;
}
.btn .btn-link {
  color: var(--clr-text);
  text-decoration: none;
  margin: 1rem;
  font-weight: var(--font-800);
  font-size: 1.25rem;
}

.btn:hover {
  background: var(--clr-btn);
}
.btn:hover .btn-link {
  color: var(--clr-bg);
}

.btn:active {
  background: var(--clr-top-bg);
}
.btn:active .btn-link {
  color: var(--clr-bg);
}

/* Hero section */
.hero-txt {
  font-size: 1.5rem;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .hero-txt {
    max-width: 30ch;
    font-size: 2.5rem;
  }
}
@media (min-width: 1000px) {
  ul.desk-nav {
    position: fixed;
    flex-direction: row;
    background: none;
    left: 65%;
    top: 0;
    font-size: 0.9rem;
  }
  .hero-txt {
    max-width: 30ch;
    font-size: 3rem;
  }
}
.marque {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  color: var(--clr-top-bg);
  font-size: 1.6rem;
}
.marque img {
  max-width: 300px;
}
@media (min-width: 700px) {
  .marque img {
    min-width: 500px;
  }
}

/* About section */
.about {
  max-width: 60ch;
  font-weight: var(--font-400);
  margin: 0 auto;
}

/* Portfolio section */
.portfolio {
  padding: 1rem;
  border-bottom: var(--clr-links) solid;
}
.portfolio a {
  text-decoration: none;
  color: var(--clr-text);
}
.portfolio .dark {
  display: none;
}

.portfolio:hover {
  background: var(--clr-links);
  color: var(--clr-bg);
}
.portfolio:hover a {
  text-decoration: none;
  color: var(--clr-bg);
}
.portfolio:hover .light {
  display: none;
}
.portfolio:hover .dark {
  display: block;
}

.portfolio:active {
  background: var(--clr-links);
  color: var(--clr-bg);
}
.portfolio:active a {
  text-decoration: none;
  color: var(--clr-bg);
}
.portfolio:active .light {
  display: none;
}
.portfolio:active .dark {
  display: block;
}

/* Features section */
.feature {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.feature .card-sm {
  border-radius: 1rem;
  text-align: left;
  font-weight: var(--font-800);
  gap: 0.6rem;
  font-size: 1.2rem;
  max-width: 250px;
  background: var(--clr-links);
}
.feature .card-sm .icon {
  height: 50px;
  width: 50px;
}

/* Price section */
.prices {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  border-radius: 0.8rem;
  border: var(--clr-top-bg) solid;
  background: var(--clr-bg);
  box-shadow: 6px 6px 0 var(--clr-top-bg);
}
.card .free {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: left;
}
.card .free .text {
  font-weight: bold;
  max-width: 30ch;
}
.card .tag {
  background-color: var(--clr-links);
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
}
.card .price {
  font-weight: var(--font-800);
  font-size: 2.5rem;
}
.card .price .small-txt {
  font-size: 1rem;
}
.card ul {
  list-style: none;
  margin: 2rem auto;
  font-size: 0.8rem;
}
.card ul li {
  position: relative;
  text-align: left;
}
.card ul li::before {
  content: url("../images/check_1.png");
  position: absolute;
  right: 5px;
}
.card button {
  background: var(--clr-btn);
  padding: 1rem;
  border: none;
  border-radius: 0.4rem;
  width: 100%;
  margin: 1rem auto;
}
.card button a {
  text-decoration: none;
  color: var(--clr-top-bg);
  font-weight: var(--font-600);
}
.card a {
  color: var(--clr-links);
}

.popular {
  box-shadow: 6px 6px 0 var(--clr-links);
}

.card:hover {
  box-shadow: 6px 6px 0 var(--clr-links);
}

.card:active {
  box-shadow: 6px 6px 0 var(--clr-links);
}

/* FAQs */
.question {
  font-size: 0.8rem;
  font-weight: var(--font-300);
  color: var(--clr-links);
  padding: 0.5rem 1rem;
  font-weight: var(--font-700);
}

.answer {
  font-size: 0.8rem;
  color: var(--clr-text);
  font-weight: var(--font-600);
  padding: 1rem;
}

.question:hover {
  background: var(--clr-btn);
  color: var(--clr-bg);
}

.question:active {
  background: var(--clr-btn);
  color: var(--clr-bg);
}

/* Contact */
.contact {
  background: var(--clr-top-bg);
  padding: 2rem 1rem;
}
.contact .submit {
  background: var(--clr-links);
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

label {
  color: var(--clr-links);
  font-weight: var(--font-600);
}

input, textarea {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

@media (min-width: 1000px) {
  .prices {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  ul.desk-nav {
    display: flex;
  }
  .menu-btn {
    display: none;
  }
  .feature {
    flex-direction: row;
  }
  .card .free {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: left;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */